<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <i class="fas fa-shield-alt me-2"></i> Threat Detect
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <!-- Common links -->
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a class="nav-link" routerLink="/">Home</a>
        </li>

        <li class="nav-item" *ngIf="isLoggedIn()">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>


        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link" routerLink="/model-switch">Model Switch</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link" routerLink="/predict">Predict</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link" routerLink="/upload">Upload</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>

        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>

        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a class="btn btn-cyber ms-2" routerLink="/register">Get Started</a>
        </li>

        <!--        style="background-color: #9b5b5b; border-radius: 5px; padding: 8px 10px"-->
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link logout-button" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div style="margin-top: 70px;">
  <router-outlet></router-outlet>
</div>

<footer class="footer mt-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-4">
        <h5>Threat Detect</h5>
        <p>Next-generation intrusion detection powered by ML</p>
      </div>
      <div class="col-md-2">
        <!-- Possibly solutions links -->
      </div>
      <div class="col-md-2">
        <h6>Company</h6>
        <ul class="list-unstyled">
          <li><a routerLink="/about" class="text-light">About</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h6>Contact</h6>
        <ul class="list-unstyled">
          <li>supportthreatdetect.com</li>
          <li>+44 7745690988</li>
        </ul>
      </div>
    </div>
    <div class="text-center mt-4">
      <p class="mb-0">&copy; 2025 Threat Detect. All rights reserved.</p>
    </div>
  </div>
</footer>
